/* Jennifer Benesh 
Rev 0 11/25/2018 
*/
body{
  color: #333333;
  font-size: 0.9em;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Geneva, sans-serif;
  background-image: url(images/bg_leather.png);
  background-repeat: repeat;
  margin: 0;
}

#wrapper{
  width: 900px;
  margin: 0px auto;
  background-color: #ffffff;
  background-image: url(images/body_leather.png);
  background-repeat: repeat-y;
  background-height:100%;
}

.header {
	
	overflow: hidden;
	font-size: 400%;
	font-family: "Garamond";
	text-align: center;
	background-image: url(images/header_leather.png);
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 40px;
  margin:0;
  width: 100%;

}


.center_text{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


h1 {
	font-family: "Garamond";
	width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  background-image: url(images/body_leather.png);
  background-repeat: no-repeat;

}
h2 {
  font-family: "Garamond";
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  background-image: url(images/body_leather.png);
  background-repeat: no-repeat;

}


.nav-background {
  
  overflow: hidden;
  height: 40px;
  width: 100%;
  background-color: #333;
}

ul {
  list-style-type: none;
  overflow: hidden;
  width: 530px;
  margin: 0px auto;
  background-color: #333;
}

li {
  width: 120px;
  height: 40px;
  margin: 0px 4px;
  float: left;
}

a{
  display:block;
  width: 120px;
  height:40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color: white;

}
li a:hover {
  background-color:#111;
}




